db/mongodb/
!db/mongodb/README.md
db/postgres/db_data/
db/postgres/endurance/
resilio/folders/
resilio/config/.SyncUser1678258988/
resilio/config/debug.txt
deluge/downloads/
home-assistant/config/.storage/
home-assistant/config/ssl/
code-server/config/data/User/History/


*.bak
*.log
*.log.fault
*.torrent
*.state
*.fastresume
*.dat
*.old
*.db
*.db-wal
*.db-shm
*.pyc
*.log.1
*.lock